# Site settings
# De titel die bovenin het tabblad van de browser en in Google komt te staan
title: Mijn Fietsavontuur | Reisverslagen van Ronald

# De omschrijving die Google toont in de zoekresultaten (max 160 tekens)
description: >-
  Persoonlijke fietsverhalen en reisverslagen van Ronald. Ontdek 
  avonturen op de Mont Ventoux, Hadrian's Wall en de legendarische Herman Coster route.

# Belangrijk: Zet hier je echte domeinnaam neer (zonder slash aan het eind)
url: "https://mijnfietsavontuur.nl"

# Gebruikersnamen (github aangepast naar alleen de naam, niet de mail)
twitter_username: ronnie
github_username: ronnieegmond
# Build settings
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
